/venv/
/darknet/
/dataset/
/data_test.txt
/data_train.txt
/darknet53.conv.74
/train_log.txt
/backup/
/predictions.jpg
/test1.jpg
/test2.jpg
/test3.jpg
/test4.jpg
/bad.list
/chart.png
/chart_yolov3-mask-train.png
/test-video-1.mp4
/yolov3-out-video-1.avi
/yolov3-out-video-2.avi
/test-video-2.mp4
